.menu-bg {
  position: absolute;
  display: block;
  width: 280%;          /* was 260% */
  height: 70%;          /* was 60% */
  left: -90%;           /* a bit more to the left */
  top: -35%;
  background-color: #ffffff;
}

.menu-bg.middle {
  top: 20%;
  left: -90%;
  transform: rotate(-45deg) translateY(0) scaleY(0);
  transform-origin: center;
}

.menu-bg.top {
  left: -55%;
  top: 0;
  transform: rotate(-45deg) translateY(-230%);
}

.menu-bg.bottom {
  top: 115%;
  left: -35%;
  transform: rotate(-45deg) translateY(90%);
}
